# {{ ansible_managed }}

# Forward zones
{% for item in named_forward_zones %}
zone "{{ item.zone }}" {
  type slave;
  masters {
{%   if groups.named_masters | type_debug == 'list' %}
{%     for named_master in groups.named_masters %}
  {{ hostvars[named_master]['ansible_default_ipv4']['address'] }};
{%     endfor %}
{%   else %}
  {{ hostvars[groups.named_masters[0]]['ansible_default_ipv4']['address'] }};
{%   endif %}
  };
  file "{{ named_cache_dir }}/db.{{ item.zone }}";
};

{% endfor %}

# Reverse zones
{% for item in named_forward_zones %}
{%   if item.prefix == 24 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}" {
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}" {
{%     endif %}
  type slave;
  masters {
{%     if groups.named_masters | type_debug == 'list' %}
{%       for named_master in groups.named_masters %}
  {{ hostvars[named_master]['ansible_default_ipv4']['address'] }};
{%       endfor %}
{%     else %}
  {{ hostvars[groups.named_masters[0]]['ansible_default_ipv4']['address'] }};
{%     endif %}
  };

{%     if item.records | length > 0 %}
  file "{{ named_cache_dir }}/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}";
{%     elif item.records | length == 0 %}
  file "{{ named_cache_dir }}/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}";
{%     endif %}
};
{%   elif item.prefix == 16 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}" {
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}" {
{%     endif %}
  type slave;
  masters {
{%     if groups.named_masters | type_debug == 'list' %}
{%       for named_master in groups.named_masters %}
  {{ hostvars[named_master]['ansible_default_ipv4']['address'] }};
{%       endfor %}
{%     else %}
  {{ hostvars[groups.named_masters[0]]['ansible_default_ipv4']['address'] }};
{%     endif %}
  };

{%     if item.records | length > 0 %}
  file "{{ named_cache_dir }}/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}";
{%     elif item.records | length == 0 %}
  file "{{ named_cache_dir }}/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}";
{%     endif %}
};
{%   elif item.prefix == 8 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}" {
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}" {
{%     endif %}
  type slave;
  masters {
{%     if groups.named_masters | type_debug == 'list' %}
{%       for named_master in groups.named_masters %}
  {{ hostvars[named_master]['ansible_default_ipv4']['address'] }};
{%       endfor %}
{%     else %}
  {{ hostvars[groups.named_masters[0]]['ansible_default_ipv4']['address'] }};
{%     endif %}
  };

{%     if item.records | length > 0 %}
  file "{{ named_cache_dir }}/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}";
{%     elif item.records | length == 0 %}
  file "{{ named_cache_dir }}/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}";
{%     endif %}
};
{%   endif %}

{% endfor %}
