; {{ ansible_managed }}

$ORIGIN {{ item.zone }}.
$TTL	{{ named_all_zone_ttl }}

@	IN	SOA	{{ hostvars[groups.named_masters[0]]['ansible_hostname'] }}.{{ named_pri_domain_name }}. {{ named_all_zone_hostmaster }}. (
			7777777
			{{ named_all_zone_refresh }}
			{{ named_all_zone_retry }}
			{{ named_all_zone_expire }}
			{{ named_all_zone_neg_ttl }} )
;

{% if groups.all | type_debug == 'list' %}
{%   for named_nameserver in groups.all %}
@	IN	NS	{{ hostvars[named_nameserver]['ansible_hostname'] }}.{{ named_pri_domain_name }}.
{%   endfor %}

{%   for named_nameserver in groups.all %}
{{ hostvars[named_nameserver]['ansible_hostname'] }}	IN	A	{{ hostvars[named_nameserver]['ansible_default_ipv4']['address'] }}
{%   endfor %}
{% else %}
@	IN	NS	{{ hostvars[groups.named_masters[0]]['ansible_hostname'] }}.{{ named_pri_domain_name }}.

{{ hostvars[groups.named_masters[0]]['ansible_hostname'] }}	IN	A	{{ hostvars[groups.named_masters[0]]['ansible_default_ipv4']['address'] }}
{% endif %}

{% for named_record in item.records %}
{%   if named_record.address | length > 0 %}
{{ named_record.name }}	IN	{{ named_record.type }}	{{ named_record.address }}
{%   endif %}

{% endfor %}
