# {{ ansible_managed }}

# Forward zones
{% for item in named_forward_zones %}
zone "{{ item.zone }}" {
  type master;
  file "{{ named_zones_dir }}/forward/db.{{ item.zone }}";
  allow-update { none; };
};

{% endfor %}

# Reverse zones
{% for item in named_forward_zones %}
{%   if item.prefix == 24 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}";
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[1:] | join('.') }}";
{%     endif %}
  allow-update { none; };
};
{%   elif item.prefix == 16 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}";
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[2:] | join('.') }}";
{%     endif %}
  allow-update { none; };
};
{%   elif item.prefix == 8 %}
{%     if item.records | length > 0 %}
zone "{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (item.records[0].address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}";
{%     elif item.records | length == 0 %}
zone "{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}" {
  type master;
  file "{{ named_zones_dir }}/reverse/db.{{ (ansible_default_ipv4.address | ansible.utils.ipaddr('revdns')).split('.')[3:] | join('.') }}";
{%     endif %}
  allow-update { none; };
};
{%   endif %}

{% endfor %}
