# {{ ansible_managed }}

options {
	directory "{{ named_cache_dir }}";
	recursion yes;
	dnssec-validation no;
	allow-update { none; };

	forwarders {
{% for named_forwarder in named_forwarders %}
		{{ named_forwarder }};
{% endfor %}
	};
};
